################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/image_restoring/FileContentIndex/09f653c8-5494-4144-b4da-7691748be8d0.vsidx
